<h1>Add a new list:</h1>
    <div class="container my-3">
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Drama' %>
          <%= f.input :photo, as: :file %>
          <%= f.submit 'submit' class: 'btn btn-flat' %>
        <% end %>
</form></div>
