<h1>newlist</h1>
    <div class="container my-3">
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Drama' %>
          <%= f.submit class: 'btn btn-flat' %>
          <%= f.input :photo, as: :file %>
        <% end %>
</form></div>
