
<div class="navbar navbar-lewagon d-flex justify-content-center background-color:red">
  <%= link_to root_path do %>
    <div class="navbar-text">
      <%# <%= image_tag "title.png", alt: "homepageicon", class: "logo" %>
      <%= "MY MOVIE " %><i class="fas fa-film"></i></i><%= " WATCHLIST" %>

    </div>
  <% end %>

</div>
