
<div class="navbar navbar-lewagon d-flex justify-content-center background-color:black">
  <%= link_to root_path do %>
    <%= image_tag "title", alt: "homepageicon", class: "logo" %>
  <% end %>

</div>
