
<div class="navbar navbar-lewagon d-flex justify-content-center background-color:black">
  <%= link_to root_path do %>
    <div>
      <%# <%= image_tag "title.png", alt: "homepageicon", class: "logo" %>
      <%= "MY MOVIE WATCHLIST" %>
    </div>
  <% end %>

</div>
