.navbar-lewagon {
  justify-content: space-between;
  background: #960000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:navbar-text {
  text-decoration: none;
}
